.about {
  background-color: $dark;
  overflow-x: hidden;
  padding: 64px 0;

  @include breakpoint("tablet") {
    background-image: url(../../imgs/bg-about.svg);
    background-repeat: no-repeat;
    background-position-x: right;
  }

  &__heading {
    @include text-style("heading-6", $white);
    margin-bottom: 40px;
  }

  &__text {
    @include text-style("body-2", $text-dark-mode);
    margin-bottom: 32px;
  }

  &__branding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 310px;
    height: 310px;
    box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
    border-radius: 50%;
    margin-top: 56px;

    @include breakpoint("fold") {
      width: 220px;
      height: 220px;
    }

    @include breakpoint("tablet") {
      margin-top: 0;
    }

    &-number {
      color: $white;
      font-size: 8.75rem;
      font-weight: 600;
      @include breakpoint("fold") {
        font-size: 6.75rem;
      }
    }

    &-text {
      @include text-style("menu-item", $white);
    }
  }

  &__logo {
    display: none;
    @include breakpoint("tablet") {
      display: block;
    }
  }

  &__info {
    padding: 0 32px;
  }

  @include breakpoint("tablet") {
    &__container--tablet {
      display: grid;
      grid-template-columns: 24px 1fr auto;
      gap: 24px;
    }

    &__info {
      margin-top: 56px;
      padding: 0 32px;

      display: grid;
      grid-template-columns: 1fr auto;
      gap: 32px;

      @include breakpoint("big-tablet") {
        padding: 0 80px;
      }
    }

    &__description {
      position: relative;

      &::before {
        content: "";

        position: absolute;
        top: 0;
        left: -16px;

        width: 2px;
        height: 56px;

        background-color: $accent-2;

        @include breakpoint("big-tablet") {
          left: -36px;
        }
      }
    }
  }
}