.cta {
  overflow: hidden;
  position: relative;
  padding-bottom: 48px;

  &__container {
    background-color: $primary;
    margin: 0 32px;
    border-radius: 28px;
    padding-top: 64px;
    padding-left: 40px;
    height: 930px;
    box-sizing: border-box;
  }

  &__tag {
    margin-bottom: 24px;

    &-number {
      @include text-style("caption-1", $white);
      margin-right: 24px;
    }
    &-text {
      @include text-style("caption-1", $white);
    }
  }

  &__title {
    @include text-style("display-2", $white);
    margin-bottom: 32px;
    position: relative;
    z-index: 1;
  }

  &__image {
    position: absolute;
    z-index: 0;
    top: 250px;
    left: -88px;
  }
}