.footer {
  margin-top: 40px;
  padding-bottom: 36px;

  background-image: url(../../imgs/line.svg);
  background-repeat: no-repeat;
  background-position-y: 530px;
  background-position-x: -114px;

  &__card {
    padding-top: 50px;
    padding-bottom: 32px;
    margin: 0 32px;
    border-radius: 24px;
    background-color: $primary;
    background-image: url(../../imgs/line-footer.svg);
    background-repeat: no-repeat;
    background-position-x: 56px;
    text-align: center;

    &-container {
      padding: 0 24px;
    }
  }

  &__speech {
    position: relative;
    left: 20px;
    margin-bottom: 6px;
  }

  &__greeting {
    &-img {
      width: 0.875rem;
      margin-right: 0.875rem;
    }

    &-text {
      @include text-style("caption-1", $white);
    }
  }

  &__info {
    @include text-style("menu-item", $white);
    padding: 40px;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
  }

  &__invite {
    @include text-style("heading-5", $white);
    margin: 40px 0;
  }

  &__button {
    @include text-style("button", $primary);
    text-decoration: none;
    background-color: $white;
    border-radius: 8px;
    padding: 18px 0;
    display: block;
  }

  &__container {
    padding: 0 32px;
    text-align: center;
    margin-top: 80px;
  }

  &__image {
    height: 36px;
  }

  &__text {
    @include text-style("body-2");
    margin-top: 32px;
    margin-bottom: 24px;
  }

  &__copyright {
    @include text-style("caption-2", $text-deactive);
    margin-top: 32px;
    text-align: center;
  }
}