.hero {
  background-image: url(../../imgs/line.svg);
  background-repeat: no-repeat;
  background-position-x: 176px;
  overflow-x: hidden;

  &__image {
    position: relative;
    top: -40px;
    left: 40px;
  }
}