.social-media {
  display: flex;

  &--menu {
    margin-left: 46px;
    margin-top: 48px;
    margin-bottom: 52px;
  }

  &--footer {
    align-items: center;
    justify-content: center;
    margin-top: 32px;

    @include breakpoint("tablet") {
      margin-top: 0;
    }
  }

  &__item {
    width: 2.5rem;
    height: 2.5rem;

    &--menu {
      margin-right: 32px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    &--footer {
      margin-right: 8px;

      &:last-of-type {
        margin-right: 0;
      }
    }

  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;

    border: 1px solid $stroke-1;
    border-radius: 50%;

    &--primary {
      border: 1px solid $primary;
      background-color: $primary;
    }

    @include breakpoint("tablet") {
      border: none;
      background-color: transparent;
    }
  }

  &__follow {
    display: none;
    @include text-style("caption-2", $primary);

    @include breakpoint("tablet") {
      margin-right: 24px;
      display: block;
    }
  }

  &__image{
    &--tablet {
      display: none;

      @include breakpoint("tablet") {
        display: block;
      }
    }

    @include breakpoint("tablet") {
      &--mobile {
        display: none;
      }
    }


  }
}