.work__logo {
  display: none;
}

@include breakpoint("tablet") {
  .work__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);

    .project__item:first-of-type {
      grid-column: span 2;

      display: grid;
      grid-template-columns: 1fr 2fr;
      .project__info {
        grid-column: 1;
        grid-row: 1;
        margin-top: 48px;
      }
      .project__image-container {
        grid-row: 1;
        grid-column: 2;
      }
      .project__link {
        top: 80px;
        right: 20px;
      }
    }

    .project__item:not(.project__item:first-of-type) {
      display: grid;
      grid-template-rows: auto auto 1fr;

      .project__title {
        grid-row: 1;
        margin-bottom: 24px;
      }

      .project__link {
        top: 300px;
      }

      &:nth-of-type(2n) {
        margin-top: 200px;
      }
    }
  }

  .work__logo {
    display: block;
    margin-right: 24px;
  }

  .work__container--tablet {
    display: grid;
    grid-template-columns: 24px 1fr 120px;
    padding: 0 32px;

    .work__button {
      margin: 0;
      padding: 0;
      margin-top: 48px;
      .button {
        padding: 0.5rem 1rem;
      }
    }
  }
}

.project__link--mobile {
  @include breakpoint("tablet") {
    display: none;
  }
}

.project__link--tablet {
  display: none;
  @include breakpoint("tablet") {
    display: block;

    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    background-color: $primary;
    border: none;
  }
}


@include breakpoint("fold") {
  .work__summary {
    .summary__title{
      font-size: 2.25rem;
    }
  }
}