.container {
  padding: 0 32px;
}

.m {
  &b- {
    &8 {
      margin-bottom: 8px;
    }

    &24 {
      margin-bottom: 24px;
    }

    &32 {
      margin-bottom: 32px;
    }
  }

  &t- {
    &36 {
      margin-top: 36px;
    }

    &48 {
      margin-top: 48px;
    }

    &56 {
      margin-top: 56px;
    }
  }
}

.z-index- {
  &1 {
    position: relative;
    z-index: 1;
  }
}