// Colors
$primary: #5468E7;
$dark: #232340;
$white: #FFFFFF;
$black: #000000;
$text-dark-mode: #8B8B8B;
$text-light-mode: #606060;
$text-deactive: #ADADAD;
$mobile-menu: #595976;
$stroke-1: #D8D8D8;
$gradient-1: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
$gradient-2: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
$accent: #FFBA79;
$shade-1: #EDEDED;
$shade-2: #908CFF;
$shade-3: #E8BEFF;
$shade-4: #FFCE79;
$shade-5: #D1ECFD;

// Font
$font-family: 'SF Pro Display', sans-serif;