html {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 32px;
}
.header__image {
  height: 32px;
  cursor: pointer;
}
.header__button {
  background-color: transparent;
  border: none;
}
@media (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__icon {
  cursor: pointer;
}
.header__icon--hamburger {
  width: 32px;
}
.header__icon--close {
  width: 24px;
}
.header__list {
  display: none;
}
@media (min-width: 768px) {
  .header__list {
    display: flex;
  }
  .header__link {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #8B8B8B;
    margin-right: 28px;
    text-decoration: none;
  }
  .header__link--active {
    color: #5468E7;
  }
  .header__link--notification {
    position: relative;
  }
  .header__link--notification::after {
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.125rem;
    color: #FFFFFF;
    content: "2";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: -8px;
    top: -8px;
    background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
  }
  .header__link--contact {
    color: #FFFFFF;
    padding: 16px 40px;
    background: #232340;
    border-radius: 8px;
    margin: 0;
  }
  .header__link--contact--dark-mode {
    color: #232340;
    background-color: #FFFFFF;
  }
  .header__link--dark-mode {
    color: #FFFFFF;
  }
}

.menu {
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  background-color: #232340;
  background-image: url(../../imgs/line-menu.svg);
  background-repeat: no-repeat;
  background-position-x: 94px;
}
.menu--active {
  left: 0;
}
.menu__list {
  margin: 138px 32px 0;
}
.menu__item {
  margin-bottom: 40px;
}
.menu__item:last-of-type {
  margin-bottom: 0;
}
.menu__link {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.03125rem;
  color: #595976;
  text-decoration: none;
}
.menu__link--active {
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .menu {
    display: none;
  }
}

.hero {
  background-image: url(../../imgs/line.svg);
  background-repeat: no-repeat;
  background-position-x: 176px;
  overflow-x: hidden;
}
.hero__image {
  position: relative;
  top: -40px;
  left: 40px;
}

.about {
  background-color: #232340;
  overflow-x: hidden;
  padding: 64px 0;
}
.about__image {
  position: relative;
  top: 0;
  left: -115px;
  height: 424px;
  margin: 56px 0;
}
.about__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #8B8B8B;
  margin-bottom: 32px;
}
.about__branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 310px;
  box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
  border-radius: 50%;
  margin-top: 56px;
}
.about__branding-number {
  color: #FFFFFF;
  font-size: 8.75rem;
  font-weight: 600;
}
.about__branding-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}

.select {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
}
.select--about {
  justify-self: end;
  border: none;
  width: 144px;
  box-sizing: border-box;
}
.select--bg-shade-6 {
  background-color: #303055;
}
.select__label {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #606060;
}
.select__label--about {
  color: #FFFFFF;
}
.select__icon {
  width: 0.625rem;
}
@media (min-width: 768px) {
  .select {
    display: none;
  }
}

.button {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: #5468E7;
  cursor: pointer;
}
.button--white {
  color: #5468E7;
  background-color: #FFFFFF;
}
.button--above {
  position: relative;
  z-index: 10;
}
.button--large {
  width: 100%;
  box-sizing: border-box;
}

.footer {
  margin-top: 40px;
  padding-bottom: 36px;
  background-image: url(../../imgs/line.svg);
  background-repeat: no-repeat;
  background-position-y: 530px;
  background-position-x: -114px;
}
@media (min-width: 768px) {
  .footer {
    padding-bottom: 0;
  }
}
.footer__card {
  padding-top: 50px;
  margin: 0 32px;
  border-radius: 24px;
  background-color: #5468E7;
  background-image: url(../../imgs/line-footer.svg);
  background-repeat: no-repeat;
  background-position-x: 56px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__card {
    background-image: url(../../imgs/line-footer-tablet.svg);
  }
}
.footer__card-container {
  padding: 0 24px;
}
@media (min-width: 768px) {
  .footer__card-container {
    display: none;
  }
}
.footer__speech {
  position: relative;
  left: 20px;
  margin-bottom: 6px;
}
@media (min-width: 768px) {
  .footer__speech {
    display: none;
  }
}
.footer__greeting-img {
  width: 0.875rem;
  margin-right: 0.875rem;
}
.footer__greeting-text {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
.footer__info {
  padding: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__content {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .footer__content {
    width: 350px;
    margin: 0 auto;
  }
}
.footer__invite {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.03125rem;
  color: #FFFFFF;
  margin: 40px 0;
  padding: 0 24px;
}
@media (min-width: 768px) {
  .footer__invite {
    font-style: normal;
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    letter-spacing: -0.03125rem;
    color: #FFFFFF;
    text-align: left;
    padding: 40px 30px 60px 40px;
    margin: 0;
  }
}
.footer__button {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #5468E7;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 18px 0;
  display: block;
}
.footer__container {
  padding: 0 32px;
  text-align: center;
  margin-top: 80px;
}
.footer__image {
  height: 36px;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #ADADAD;
  margin-top: 32px;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .footer__text {
    width: 400px;
    margin: 32px auto 24px;
  }
}
.footer__text--tablet {
  display: none;
}
@media (min-width: 768px) {
  .footer__text--tablet {
    display: block;
  }
}
@media (min-width: 768px) {
  .footer__text--mobile {
    display: none;
  }
}
.footer__copyright {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #ADADAD;
  margin-top: 32px;
  text-align: center;
}
@media (min-width: 768px) {
  .footer__copyright {
    margin-top: 0;
  }
}
.footer__logo {
  display: none;
}
@media (min-width: 768px) {
  .footer__logo {
    display: block;
    margin: 0 auto 40px;
  }
}
.footer__left {
  padding-bottom: 32px;
}
.footer__right {
  display: none;
}
@media (min-width: 768px) {
  .footer__right {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    display: grid;
    grid-template-columns: 1fr auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding: 40px 30px 60px 40px;
  }
  .footer__right-speech {
    grid-column: span 2;
  }
  .footer__right-text {
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.0125rem;
    color: #FFFFFF;
    text-align: left;
  }
  .footer__right-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    border: 2px solid #FFFFFF;
  }
  .footer__right-image {
    width: 20px;
  }
}
.footer__list {
  display: none;
}
@media (min-width: 768px) {
  .footer__list {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {
  .footer__bottom {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  .footer__link {
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375rem;
    color: #8B8B8B;
    margin-right: 28px;
    text-decoration: none;
  }
  .footer__link--active {
    color: #5468E7;
  }
  .footer__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #D8D8D8;
    margin-top: 36px;
  }
}

.social-media {
  display: flex;
}
.social-media--menu {
  margin-left: 46px;
  margin-top: 146px;
  margin-bottom: 52px;
}
.social-media--footer {
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .social-media--footer {
    margin-top: 0;
  }
}
.social-media__item {
  width: 2.5rem;
  height: 2.5rem;
}
.social-media__item--menu {
  margin-right: 32px;
}
.social-media__item--menu:last-of-type {
  margin-right: 0;
}
.social-media__item--footer {
  margin-right: 8px;
}
.social-media__item--footer:last-of-type {
  margin-right: 0;
}
.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
}
.social-media__link--primary {
  border: 1px solid #5468E7;
  background-color: #5468E7;
}
@media (min-width: 768px) {
  .social-media__link {
    border: none;
    background-color: transparent;
  }
}
.social-media__follow {
  display: none;
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #5468E7;
}
@media (min-width: 768px) {
  .social-media__follow {
    margin-right: 24px;
    display: block;
  }
}
.social-media__image--tablet {
  display: none;
}
@media (min-width: 768px) {
  .social-media__image--tablet {
    display: block;
  }
}
@media (min-width: 768px) {
  .social-media__image--mobile {
    display: none;
  }
}

.cta {
  overflow: hidden;
  position: relative;
  padding-bottom: 48px;
}
@media (min-width: 768px) {
  .cta {
    border-radius: 28px;
    padding: 80px;
    display: grid;
    grid-template-columns: 28px 260px;
    gap: 300px;
    background-color: #5468E7;
    background-image: url(../../imgs/phone-tablet.svg);
    background-repeat: no-repeat;
    background-position-x: 24px;
    background-position-y: 80px;
  }
  .cta__banner {
    position: relative;
    padding: 0 32px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .cta__banner {
    padding: 0 100px;
  }
}
@media (min-width: 768px) {
  .cta__banner::before {
    content: "";
    background: url(../../imgs/polygon-blue.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 365px;
    position: absolute;
    top: 24px;
    left: 12px;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .cta__banner::before {
    left: 50px;
  }
}
@media (min-width: 768px) {
  .cta__banner::after {
    content: "";
    background: url(../../imgs/polygon-pink.svg);
    background-repeat: no-repeat;
    height: 100%;
    width: 365px;
    position: absolute;
    top: 24px;
    right: 0;
    z-index: 2;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .cta__banner::after {
    padding: 0 15px;
  }
}
.cta__container {
  background-color: #5468E7;
  margin: 0 32px;
  border-radius: 28px;
  padding-top: 64px;
  padding-left: 40px;
  height: 930px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .cta__container {
    background-color: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 3;
  }
}
.cta__image {
  position: absolute;
  z-index: 0;
  top: 250px;
  left: -88px;
}
.cta__image--tablet {
  display: none;
}
@media (min-width: 768px) {
  .cta__image--mobile {
    display: none;
  }
}

.jobs {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
  position: relative;
  overflow: hidden;
}
.jobs::before {
  content: url(../../imgs/line-jobs.svg);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 162px;
}
.jobs__card-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  margin-top: 48px;
  padding-bottom: 56px;
  position: relative;
  z-index: 1;
}
.jobs__card-item {
  background: #FFFFFF;
  border-radius: 24px;
  margin: 0 32px;
  padding: 45px 40px;
  box-shadow: -4px 16px 46px 5px #EDEDED;
}
@media (min-width: 768px) {
  .jobs__card-item {
    margin: 0;
  }
}
.jobs__card-item--highlight {
  background-color: #232340;
  margin-right: 0;
  border-radius: 24px 0 0 24px;
  display: grid;
  grid-template-columns: 1fr 64px;
  grid-template-rows: auto auto 1fr;
  padding-bottom: 12px;
  padding-top: 12px;
}
@media (min-width: 768px) {
  .jobs__card-item--highlight {
    margin: 0;
    border-radius: 24px;
    grid-template-columns: 1fr auto;
    padding-right: 12px;
  }
}
.jobs__card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: #232340;
}
.jobs__card-title--highlight {
  color: #FFFFFF;
  margin-top: 33px;
}
.jobs__card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #606060;
  margin-bottom: 10px;
}
.jobs__card-description--highlight {
  color: #8B8B8B;
}
.jobs__card-notification {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  background-image: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}
.jobs__card-link {
  text-decoration: none;
}
.jobs__card-image {
  grid-row: 1/span 3;
  grid-column: 2;
  align-self: center;
}
.jobs__image {
  display: none;
}
@media (min-width: 768px) {
  .jobs__image {
    display: block;
  }
}
@media (min-width: 768px) {
  .jobs__container--tablet {
    display: grid;
    grid-template-columns: auto 320px 1fr;
    gap: 24px;
    padding: 0 32px;
    max-width: 840px;
    margin: 0 auto;
  }
}
.jobs__available {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.jobs__available-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #8B8B8B;
  margin-left: 16px;
  width: 80px;
}

.summary__title {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.03125rem;
  color: #232340;
  margin-bottom: 24px;
}
.summary__title--dark-mode {
  color: #FFFFFF;
}
.summary__title--white {
  color: #FFFFFF;
}
.summary__title--small {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: #232340;
  width: 228px;
}
.summary__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #606060;
}
.summary__text--dark {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #232340;
}
.summary__text--small {
  width: 180px;
}
.summary__text--medium {
  width: 332px;
}
.summary__tag {
  margin-bottom: 24px;
}
.summary__tag-number {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #5468E7;
  margin-right: 24px;
}
.summary__tag-number--dark-mode {
  color: #ADADAD;
}
.summary__tag-number--white {
  color: #FFFFFF;
}
.summary__tag-text {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #5468E7;
}
.summary__tag-text--dark-mode {
  color: #FFFFFF;
}
.summary__tag-text--white {
  color: #FFFFFF;
}
.summary__tag-text--dark {
  color: #232340;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
  margin: 56px 32px 0;
}
@media (min-width: 768px) {
  .projects {
    grid-column: 2;
    grid-template-columns: 1fr 1fr;
  }
}

.project__image {
  max-width: 100%;
}
@media (min-width: 768px) {
  .project__image {
    width: 80%;
  }
}
.project__image-container {
  background-color: #FFBA79;
  border-radius: 18px;
  height: 356px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.project__image-container--shade-2 {
  background-color: #908CFF;
}
@media (min-width: 768px) {
  .project__image-container--shade-2 {
    background-color: #D1ECFD;
  }
}
.project__image-container--shade-3 {
  background-color: #E8BEFF;
}
.project__image-container--shade-4 {
  background-color: #FFCE79;
}
.project__image-container--shade-5 {
  background-color: #D1ECFD;
}
@media (min-width: 768px) {
  .project__image-container {
    width: 90%;
  }
}
.project__featured {
  position: absolute;
  left: 24px;
  bottom: 24px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  display: inline-block;
  background-color: #908CFF;
  padding: 8px 16px;
  border-radius: 14px;
}
.project__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: #232340;
  margin-top: 24px;
}
.project__description {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #606060;
  width: 228px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  .project__description {
    width: 100%;
  }
}
.project__description--tablet {
  display: none;
}
@media (min-width: 768px) {
  .project__description--tablet {
    display: block;
  }
}
@media (min-width: 768px) {
  .project__description--mobile {
    display: none;
  }
}
.project__link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  margin-top: 24px;
  border: 2px solid #232340;
  border-radius: 50%;
}
.project__link-img {
  width: 20px;
}
@media (min-width: 768px) {
  .project__link {
    position: absolute;
    top: 200px;
    right: 0;
  }
}
.project__featured {
  display: none;
}
@media (min-width: 768px) {
  .project__item {
    position: relative;
  }
  .project__featured {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 0.625rem;
    line-height: 0.8125rem;
    margin-bottom: 16px;
    display: inline-block;
    background-color: #908CFF;
    padding: 8px 16px;
    border-radius: 14px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    position: absolute;
    top: 24px;
    left: -24px;
    z-index: 1;
  }
}

.service {
  background: linear-gradient(360deg, rgba(255, 255, 255, 0.0001) 0%, rgba(237, 229, 240, 0.504289) 100%);
}
.service__line {
  background: url(../../imgs/line-services.svg);
  position: absolute;
  top: 976px;
  left: 0;
  width: 100%;
  height: 560px;
  z-index: -1;
}
.service__line-2 {
  background: url(../../imgs/line-services-2.svg);
  position: absolute;
  top: 1836px;
  left: -53px;
  width: 100%;
  height: 560px;
  z-index: -1;
}
.service__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.service__item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FFFFFF;
  box-shadow: 0 8px rgba(255, 255, 255, 0.5), -4px 16px 46px 5px #EDEDED;
  border-radius: 32px;
  box-sizing: border-box;
  padding: 48px 0;
}
.service__item--highlight {
  background-color: #5468E7;
  box-shadow: none;
}
.service__name {
  margin-left: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #5468E7;
}
.service__name--highlight {
  color: #FFFFFF;
}

.successfull__number {
  font-style: normal;
  font-weight: 600;
  font-size: 8.75rem;
  line-height: 10.4375rem;
  color: #5468E7;
}
.successfull__text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #232340;
  display: flex;
  align-items: center;
}
.successfull__emoji {
  margin-right: 16px;
  font-size: 1.125rem;
}

.navigation {
  display: grid;
  grid-template-columns: 48px 48px 1fr;
  align-items: center;
  gap: 16px;
}
.navigation--center {
  grid-template-columns: auto auto;
  justify-content: center;
  margin-top: 40px;
}
.navigation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.navigation__button--transparent {
  background-color: transparent;
}
.navigation__button--primary {
  background-color: #5468E7;
}

.carousel {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carousel__navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 48px 0;
}
.carousel__link {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.30171);
  width: 6px;
  height: 6px;
  margin-right: 24px;
  cursor: pointer;
  border-radius: 50%;
}
.carousel__link--active {
  background: linear-gradient(180deg, #3A8FFF 0%, #0837AE 100%);
  box-shadow: none;
}
.carousel__link:last-of-type {
  margin-right: 0;
}

.cs-about {
  background-color: #232340;
  background-image: url(../../imgs/line-cs-about.svg);
  background-repeat: no-repeat;
  background-position-x: 176px;
  position: relative;
  padding-bottom: 450px;
  margin-bottom: 200px;
}
.cs-about::after {
  content: "";
  background-image: url("../../imgs/laptop.svg");
  background-repeat: no-repeat;
  background-position: 32px 76px;
  width: 100%;
  height: 600px;
  position: absolute;
}

.numbers {
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
}
.numbers__number {
  font-style: normal;
  font-weight: 600;
  font-size: 8.75rem;
  line-height: 10.4375rem;
  color: #FFFFFF;
}
.numbers__number--plus::after {
  content: "+";
  font-size: 2.8125rem;
  line-height: 5.5rem;
  vertical-align: top;
}
.numbers__title {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  padding-bottom: 32px;
  border-bottom: 1px solid #8B8B8B;
  margin-bottom: 32px;
}
.numbers__icon {
  font-size: 1.125rem;
}
.numbers__description {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #8B8B8B;
}

.download {
  display: flex;
  align-items: center;
  margin-top: 32px;
}
.download__text {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  margin-left: 12px;
}

.visual-id__number {
  font-style: normal;
  font-weight: 600;
  font-size: 8.75rem;
  line-height: 10.4375rem;
  color: #5468E7;
}
.visual-id__text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #232340;
  display: flex;
  align-items: center;
}
.visual-id__text::after {
  content: "";
  display: inline-block;
  margin-left: 52px;
  width: 16px;
  height: 2px;
  background-color: #5468E7;
}
.visual-id__number::after {
  content: "+";
  font-size: 2.8125rem;
  line-height: 5.5rem;
  vertical-align: top;
}
.visual-id__card {
  margin: 56px 16px 0;
  box-shadow: 0 8px rgba(255, 255, 255, 0.5), -4px 16px 46px 5px #EDEDED;
  display: grid;
  grid-template-columns: 1fr;
  gap: 42px;
  padding: 36px 24px 48px;
  border-radius: 28px;
}
.visual-id__item {
  display: flex;
  align-items: center;
}
.visual-id__name {
  margin-left: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #232340;
}

.bento {
  background-image: url(../../imgs/line-bento.svg);
  background-repeat: no-repeat;
  background-position-x: 176px;
  overflow-x: hidden;
}
.bento__image {
  position: relative;
  top: 0;
  left: 40px;
}
.bento__featured {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  margin-bottom: 16px;
  display: inline-block;
  background-color: #FFBA79;
  padding: 8px 16px;
  border-radius: 14px;
}
.bento__info {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 6rem 6rem;
  gap: 40px;
}
.bento__description {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #5468E7;
  margin-top: 16px;
}

.overview {
  background-image: url(../../imgs/line-bento.svg);
  background-repeat: no-repeat;
  background-position-x: 176px;
  overflow-x: hidden;
}
.overview__image {
  position: relative;
  top: 0;
  left: 40px;
}

.application {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.application__title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: #232340;
}
.application__item {
  background-color: #FFFFFF;
  border-radius: 32px;
  box-shadow: -4px 16px 46px 5px #EDEDED;
  padding: 56px 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.application__item--disabled {
  background-color: rgba(216, 216, 216, 0.3);
  border: 1px solid #D8D8D8;
}
.application__name {
  margin-top: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #5468E7;
}
.application__image {
  height: 92px;
  width: 92px;
}

@media (min-width: 768px) {
  .recent-work {
    display: grid;
    grid-template-columns: 24px auto;
    padding: 0 32px;
    background-image: url(../../imgs/bg-recent.svg);
    background-size: cover;
  }
}
.recent-work__logo {
  display: none;
}
@media (min-width: 768px) {
  .recent-work__logo {
    display: block;
  }
}

.container {
  padding: 0 32px;
}
.container--small {
  padding: 0 58px;
}

.text-align-center {
  text-align: center;
}

.mr-32 {
  margin-right: 32px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mt-36 {
  margin-top: 36px;
}
.mt-48 {
  margin-top: 48px;
}
.mt-56 {
  margin-top: 56px;
}

.z-index-1 {
  position: relative;
  z-index: 1;
}

@media (min-width: 768px) {
  .d-none-tablet {
    display: none;
  }
  .d-flex-tablet {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.d-inline-flex-tablet {
  display: none;
}
@media (min-width: 768px) {
  .d-inline-flex-tablet {
    display: inline-flex;
  }
}/*# sourceMappingURL=styles.css.map */