html {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 52px 32px;
}
.header__logo {
  height: 32px;
  cursor: pointer;
}
.header__button {
  background-color: transparent;
  border: none;
}
.header__icon {
  cursor: pointer;
}
.header__icon--hamburger {
  width: 32px;
}
.header__icon--close {
  width: 24px;
}

.menu {
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 100;
  width: 100%;
  min-height: 100vh;
  background-color: #232340;
  background-image: url(../../imgs/line-menu.svg);
  background-repeat: no-repeat;
  background-position-x: 94px;
}
.menu--active {
  left: 0;
}
.menu__list {
  margin: 138px 32px 0;
}
.menu__item {
  margin-bottom: 40px;
}
.menu__item:last-of-type {
  margin-bottom: 0;
}
.menu__link {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.03125rem;
  color: #595976;
  text-decoration: none;
}
.menu__link--active {
  color: #FFFFFF;
}

.hero {
  background-image: url(../../imgs/line.svg);
  background-repeat: no-repeat;
  background-position-x: 176px;
  overflow-x: hidden;
}
.hero__container {
  padding: 0 32px;
}
.hero__title {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.03125rem;
  color: #232340;
  margin-bottom: 24px;
}
.hero__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #606060;
  margin-bottom: 24px;
}
.hero__image {
  position: relative;
  top: -40px;
  left: 40px;
}

.about {
  background-color: #232340;
  overflow-x: hidden;
  padding: 64px 0;
}
.about__container {
  padding: 0 32px;
}
.about__tag {
  margin-bottom: 24px;
}
.about__tag-number {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #ADADAD;
  margin-right: 24px;
}
.about__tag-text {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
.about__title {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.03125rem;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.about__navigation {
  display: grid;
  grid-template-columns: 48px 48px 1fr;
  align-items: center;
  gap: 16px;
}
.about__button {
  border: none;
  border-radius: 50%;
  height: 48px;
  width: 48px;
}
.about__button--transparent {
  background-color: transparent;
}
.about__button--primary {
  background-color: #5468E7;
}
.about__image {
  position: relative;
  top: 0;
  left: -115px;
  height: 424px;
  margin: 56px 0;
}
.about__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: -0.0125rem;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.about__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #8B8B8B;
  margin-bottom: 32px;
}
.about__branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 310px;
  height: 310px;
  box-shadow: 0px 23px 51px rgba(0, 0, 0, 0.242297);
  border-radius: 50%;
  margin-top: 56px;
}
.about__branding-number {
  color: #FFFFFF;
  font-size: 8.75rem;
  font-weight: 600;
}
.about__branding-text {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #FFFFFF;
}

.select {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #D8D8D8;
}
.select--about {
  justify-self: end;
  border: none;
  width: 144px;
  box-sizing: border-box;
}
.select__label {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #606060;
}
.select__label--about {
  color: #FFFFFF;
}
.select__icon {
  width: 0.625rem;
}

.button {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #FFFFFF;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 8px;
  background-color: #5468E7;
  cursor: pointer;
}
.button--white {
  color: #5468E7;
  background-color: #FFFFFF;
}

.footer {
  margin-top: 40px;
  padding-bottom: 36px;
  background-image: url(../../imgs/line.svg);
  background-repeat: no-repeat;
  background-position-y: 530px;
  background-position-x: -114px;
}
.footer__card {
  padding-top: 50px;
  padding-bottom: 32px;
  margin: 0 32px;
  border-radius: 24px;
  background-color: #5468E7;
  background-image: url(../../imgs/line-footer.svg);
  background-repeat: no-repeat;
  background-position-x: 56px;
  text-align: center;
}
.footer__card-container {
  padding: 0 24px;
}
.footer__speech {
  position: relative;
  left: 20px;
  margin-bottom: 6px;
}
.footer__greeting-img {
  width: 0.875rem;
  margin-right: 0.875rem;
}
.footer__greeting-text {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
.footer__info {
  font-style: normal;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #FFFFFF;
  padding: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__invite {
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -0.03125rem;
  color: #FFFFFF;
  margin: 40px 0;
}
.footer__button {
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #5468E7;
  text-decoration: none;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 18px 0;
  display: block;
}
.footer__container {
  padding: 0 32px;
  text-align: center;
  margin-top: 80px;
}
.footer__image {
  height: 36px;
}
.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.75rem;
  color: #606060;
  margin-top: 32px;
  margin-bottom: 24px;
}
.footer__copyright {
  font-style: normal;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  color: #ADADAD;
  margin-top: 32px;
  text-align: center;
}

.social-media {
  display: flex;
}
.social-media--menu {
  margin-left: 46px;
  margin-top: 146px;
  margin-bottom: 52px;
}
.social-media--footer {
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}
.social-media__item {
  width: 2.5rem;
  height: 2.5rem;
}
.social-media__item--menu {
  margin-right: 32px;
}
.social-media__item--menu:last-of-type {
  margin-right: 0;
}
.social-media__item--footer {
  margin-right: 8px;
}
.social-media__item--footer:last-of-type {
  margin-right: 0;
}
.social-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #D8D8D8;
  border-radius: 50%;
}
.social-media__link--primary {
  border: 1px solid #5468E7;
  background-color: #5468E7;
}

.cta {
  overflow: hidden;
  position: relative;
  padding-bottom: 48px;
}
.cta__container {
  background-color: #5468E7;
  margin: 0 32px;
  border-radius: 28px;
  padding-top: 64px;
  padding-left: 40px;
  height: 930px;
  box-sizing: border-box;
}
.cta__tag {
  margin-bottom: 24px;
}
.cta__tag-number {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
  margin-right: 24px;
}
.cta__tag-text {
  font-style: normal;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: #FFFFFF;
}
.cta__title {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3.5rem;
  letter-spacing: -0.03125rem;
  color: #FFFFFF;
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
}
.cta__image {
  position: absolute;
  z-index: 0;
  top: 250px;
  left: -88px;
}/*# sourceMappingURL=styles.css.map */